.title {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
    font-weight: bold;
}

hr.header {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    border: black 1px solid;
}

.spinner {
    position: absolute;
    width: 100px;
    transform: translate(-50%, -50%);
    margin: 0px;
    top: 50%;
    left: 50%;
}

#mockup_loader {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

#mockup_loader:after {
    content: "";
    display: block;
    padding-top: 100%;
}

#mockup {
    width: 100%;
}

table {
    width: 100%;
    /* border: black 1px solid; */
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */

}

select {
    font-family: 'Ubuntu Mono', monospace;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    height: 2rem;
    border-radius: 4px;
    border: black 1px solid;
    margin-bottom: 10px;
}

.dashed {
    border-bottom: 1px grey dashed;
}

td, th {
    font-family: 'Ubuntu Mono', monospace;
}

td {
    text-align: right;
}

.descriptor {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bolder;
}

.inputbox {
    margin-bottom: 10px;
}

.input {
    max-width: 500px;
}

.checkout {
    border-radius: 4px;
    border: black 1px solid;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: calc(100% - 60px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tos {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.75rem;
    color: grey;
}

.tos a {
    color: grey;
}

.modal {
    /* because paypal buttons push themselves to the top :\ */
    z-index: 100; 
}

.modal .content {
    /* font-family: 'Questrial', sans-serif; */
    font-family: 'Ubuntu Mono', monospace;
}

@media  (min-width: 1050px) {
    .checkout {
        max-width: 400px;
        float: left;
    }
}